@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

    body {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 100vh;
      margin: 0;
      font-family: 'Poppins', sans-serif;
      background: white;
    }

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px;
      width: 100%;
      background-color: #333;
      color: black;
      position: fixed;
      top: 0;
      z-index: 1000;
    }

    nav a {
      text-decoration: none;
      color: white;
      margin: 0 15px;
      cursor: pointer;
    }

    nav a:hover {
      background-color: grey;
    }

    .ds-container,
    .info-container,
    .map-container,
    .account-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 85vh;
      margin-top: 95px;
      padding: 15%;
      text-align: center;
    }

    .info-container {
      height: 380vh;
    }

    h1 {
      font-size: 6em;
      color: white;
      margin-bottom: 20px;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      -webkit-text-stroke: 0.1vw grey;
      white-space: nowrap;
    }

    h1::before {
      content: attr(data-text);
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      color: black;
      border-right: 2px solid grey;
      overflow: hidden;
      animation: animate 6s linear infinite;
      white-space: nowrap;
      -webkit-text-stroke: 0.1vw grey;
    }

    h2 {
      font-size: 55px;
      color: black;
    }

    h3 {
      color: white;
      margin-top: 1vh;
      font-size: 24px;
      color: black;
    }

    h4 {
      font-size: 35px;
      color: black;
      margin-top: 4vh;
    }

    h5 {
      font-size: 70px;
      color: black;
    }

    @keyframes animate {
      0%,
      10%,
      100% {
        width: 0%;
      }

      60% {
        width: 100%;
      }
    }

    .content {
      text-align: center;
      padding: 20px;
      background-color: white;
      margin-top: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    #open-map-button{
        background-color:lightgreen
    }

    #open-map-button:hover {
      background-color: green;
      color: black;
    }

    .container{
      background: rgb(158, 108, 204);
      width: 90%;
      max-width: 600px;
      border-radius: 10px;
      padding: 30px;
      margin-bottom: 3vh;
  }
  
  .container h1{
      font-size: 25px;
      color: black;
      font-weight: 600;
      padding-bottom: 15px;
      display: flex;
  }
  
  .quiz{
      padding: 20px 0;
  }
  
  .quiz h2{
      font-size: 19px;
      color: black;
      font-weight: 600;
  }
  
  .btn{
      background: white;
      color: #222;
      font-weight: 500;
      width: 100%;
      border: 1px solid #222;
      padding: 10px;
      margin: 10px 0;
      text-align: left;
      border-radius: 4px;
      cursor: pointer;
      transition: all 0.3s;
  }
  
  .btn:hover:not([disabled]){
      background: #222;
      color: white;
  }
  
  .btn:disabled{
      cursor: no-drop;
  }
  
  #next{
      background: white;
      color: black;
      font-weight: 500;
      width: 150px;
      border: 0;
      padding: 10px;
      margin: 20px auto 0;
      border-radius: 4px;
      cursor: pointer;
      display: none;
  }
  
  .btn.correct{
      background: rgb(98, 179, 98);
      opacity: 1;
  }
  
  .btn.wrong{
      background: rgb(184, 81, 81);
      opacity: 1;
  }
  
  #timer{
      display: flex;
      float: right;
      font-size: 20px;
  }

  .custom-container{
    margin-top: 6vh;
    margin-bottom: 4vh;
    text-align: center;
  }